# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular language 
- Identify the users and benefits of Python
- Identify the users and uses of R language

Some of the popular languages that Data Scientists use are:
    1.Python
    2.R
    3.Julia 
    4.SQL ...

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.Scikit-learn
3.Numpy
4.Matplotlib

| Data Science Tools |
----------------------
| Apache Spark|
| RStudio|
| Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Bassam EL HAYEK